<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">

	<mvc:annotation-driven />
	<mvc:view-controller path="/" view-name="task/task_home"/> 
	<context:component-scan base-package="cn.ac.iscas.cloudeploy.v2.controller" />

	<aop:aspectj-autoproxy />

	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"><!-- nternalResourceViewResolver：用于支持Servlet、JSP视图解析； -->
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
		<!-- prefix和suffix：查找视图页面的前缀和后缀（前缀[逻辑视图名]后缀），比如传进来的逻辑视图名为hello，则该该jsp视图页面应该存放在“WEB-INF/jsp/hello.jsp”； -->
	</bean>
	
	<!-- Configure the multipart resolver -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- one of the properties available; the maximum file size in bytes 2G -->
		<property name="maxUploadSize" value="200000000" />
	</bean>
	
	<mvc:resources mapping="/css/**" location="/assets/css/"
		cache-period="31556926" />
	<mvc:resources mapping="/js/**" location="/assets/js/"
		cache-period="31556926" />
	<mvc:resources mapping="/img/**" location="/assets/img/"
		cache-period="31556926" />
	<mvc:resources mapping="/swf/**" location="/assets/swf/"
		cache-period="31556926" />
</beans>