html,body{
	height: 100%;
	margin: 0;
	padding: 0;
}

.d-main{
	padding-top: 50px;
	margin: 0px;
	height: 100%;
	min-height:100%;
}

.d-main-content{
	height: 100%;
	min-height:100%;
}

.deploy-error-bar,.deploy-success-bar {
	opacity: 1;
	font-size: 16px;
	height: 40px;
	line-height: 40px;
	position: fixed;
	top:50px;
	width: 100%;
	z-index:999;
	text-align:center;
}

.deploy-error-bar {
	color: #a94442;
	background-color: rgba(242, 222, 222, 0.8);
}

.deploy-success-bar {
	color: #31708f;
	background-color: rgba(217, 237, 247, 0.8);
}
